{% extends 'app/layout.html.twig' %}

{% block title %}
    Portfolio - {{ parent() }}
{% endblock %}

{% block content %}
    <button class="material-scrolltop d-none d-lg-block" type="button"></button>
    <header class="container pt-2 pt-lg-4" id="home">
        <div class="row">
            <div class="col-10 mx-auto">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <button class="navbar-toggler d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mt-2 mt-lg-0 justify-content-between">
                            <li class="nav-item"><a class="nav-link active" href="#home">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="#about_me">À propos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#skills">Compétences</a></li>
                            <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <hr class="d-none d-lg-block d-xl-block">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="row justify-content-center align-items-end">

                    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                        <h1 id="site-title">
                            Anthony
                            <span class="d-block">Cecconato</span>
                        </h1>
                    </div>

                    <div class="col-12 col-lg-4 text-lg-center">
                        <h2 id="description">
                            Développeur PHP / Symfony
                            <span class="d-block">23 ans, Toulouse (France)</span>
                        </h2>
                    </div>

                    <div class="col d-none d-lg-flex text-center justify-content-end">
                        <p id="language-selection"><a href="#">ENG</a> | <a class="active" href="#">FR</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 mx-auto mt-5">
                <img id="header-image" class="img-fluid" src="{{ asset('build/images/header.png') }}" alt="">
            </div>
        </div>
    </header>

    <main>
        <!-- About me -->
        <div class="container-fluid" id="about_me">
            <div class="row">
                <div class="col-12 mx-auto text-center mt-5">
                    <h2>À propos de moi</h2>
                </div>

                <div class="col-12 col-md-8 mx-auto text-center mt-3">
                    <p>Je m'appelle Anthony, j'ai {{ date('25-05-1996')|age }} ans et je suis passionné par le monde
                        informatique depuis mon adolescence. J'ai commencé par m'intéresser au fonctionnement d'un
                        ordinateur ainsi que ses composants et mon premier langage de programmation a été, comme
                        beaucoup, le HTML et CSS !</p>

                    <p>J'ai continué mon apprentissage au fil des années, notamment avec PHP et, plus tard, avec le
                        Lua. Malgré ma passion envers le milieu numérique, mes choix d'adolescents m'ont poussé à faire
                        des études
                        en mécanique automobile, un milieu complètement différent.
                    </p>

                    <p>
                        Aujourd'hui, j'ai décidé de me reconvertir et de me lancer dans ce que j'aime vraiment, le
                        développement ! C'est pourquoi
                        je suis actuellement en formation pour devenir <span class="d-inline-block"><strong>
                                <a href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony" target="_blank">
                                    Développeur d'applications PHP / Symfony
                                </a>
                            </strong>.</span>
                    </p>

                    <p>
                        Je suis curieux de nature et j'aime apprendre de nouvelles choses, c'est pourquoi je me
                        forme
                        également sur d'autres <a href="#skills">technologies</a> comme le Javascript (ES6+), Nodejs,
                        Linux et
                        d'autres choses.
                    </p>

                    <h3 class="pt-4 mb-4">Les outils que j'utilise pour programmer</h3>
                    <p>Pour développer, mon ordinateur principal est sur
                        <a href="https://www.opensuse.org/" target="_blank">Opensuse Tumbleweed</a>
                        et mon ordinateur portable est actuellement sur
                        <a href="https://linuxmint.com/" target="_blank">Linux Mint</a>.
                        Mes éditeurs favoris sont
                        <a href="https://www.jetbrains.com/phpstorm/" target="_blank">Phpstorm</a> et
                        <a href="https://code.visualstudio.com/" target="_blank">Visual studio code</a>.
                        Pour les maquettes, j'aime beaucoup <a href="https://www.figma.com" target="_blank">Figma</a>.
                    </p>

                    <p class="pt-4">Si vous cherchez quelqu'un avec qui travailler et que mon profil vous intéresse, je vous invite à
                    <a href="#contact">prendre contact avec moi</a>.</p>
                </div>
            </div>
        </div>

        <!-- Skills -->
        <div class="container-fluid" id="skills">
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Mes compétences</h2>
                </div>
            </div>

            {{ render(controller('App\\Controller\\AppController::listSkills')) }}
        </div>

        <!-- PORTFOLIO SECTION -->
        <div class="container-fluid pb-5" id="portfolio">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h2>Mes projets réalisés</h2>
                </div>
            </div>

            {{ render(controller('App\\Controller\\AppController::listProjects')) }}
        </div>

        <!-- CONTACT SECTION -->
        <div class="container-fluid pb-5" id="contact">
            <div class="row mt-5">
                <div class="col-12 col-lg-10 mx-auto text-center">
                    <h2>Contactez-moi</h2>
                    <p class="pt-2">
                        Vous voulez en savoir plus ou juste discuter ?
                        <span class="d-block">Je suis là pour vous écouter et répondre à vos questions.</span>
                    </p>

                    <p class="pt-2">
                        <a id="send_message" class="btn btn-dark" href="mailto:{{ email }}">
                            M'envoyer un message
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="container-fluid" id="footer">
            <div class="row mb-5">
                <div class="col-12 col-lg-4 mx-auto d-flex justify-content-around">
                    {% for key, social in socials %}
                        {% if social is not empty %}
                            <a href="{{ social }}" title="{{ key|title }}" target="_blank"><i
                                        class="fab fa-{{ key }}"></i></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </footer>
    </main>
{% endblock %}
