{% extends 'app/layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="robots" content="noindex, nofollow">
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block content %}
    <div class="text-center">
        <form method="post" class="form-signin">
            <img class="mb-4" src="{{ asset('build/images/ac_logo.svg') }}" alt="Anthony cecconato logo">
            <h1 class="h3 mb-3 font-weight-normal">Administration</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputUsername" class="sr-only">Identifiant</label>
            <input type="text" name="username" value="{{ last_username }}" id="inputUsername" class="form-control"
                   placeholder="Identifiants" required autofocus>

            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                   required>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" value="remember-me"> Rester connecté
                </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
    </div>
{% endblock %}
